[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ACSWR"]
	path = ACSWR
	url = https://github.com/cran/ACSWR
[submodule "RSADBE"]
	path = RSADBE
	url = https://github.com/cran/RSADBE
[submodule "gpk"]
	path = gpk
	url = https://github.com/cran/gpk
